/*grid class selector */
.my-grid{
    /*Establishing layout as grid*/
    display:grid;
    /*setting columns to.. */
    grid-template-columns: auto 1fr;
    /*setting rows to.. */
    grid-template-rows: auto 100px;
}

/*blue background class selector */
.has-blue-background{
    /*setting background color */
    background-color: #A7DDFF;
    /*setting border*/
    border: 1px solid #721EE3;
}

/*yellow background class selector */
.has-yellow-background{
    /*setting background color*/
    background-color: #FAF7A7;
    /*setting border*/
    border: 1px solid #E38C1E;
}
